@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


body{
    font-family: 'Rubik', sans-serif;
    background-color: #002244;
}


table{
    color: black;
    margin-left: 30%;
    background-color: rgb(255, 255, 255);
}

button{
    color: red;
}